---
layout: default
title: My Projects
style: projects.css
---
<header class="title">
  <h1>Tracking all my little demos in my path of front-end learning</h1>
  <h1>记录前端学习期间制作的小练习</h1>
</header>
<section>
  <h2>responsive webpage</h2>
  <div class="flex-container">
    {% for proj in site.data.projects %}
      {% if proj.category == "responsive-webpage" %}
      <div class="card">
        <a href="/assets/projects/{{ proj.category }}/{{ proj.link }}/dist/index.html" target="_blank">
          <img src="/assets/images/{{ proj.image }}" alt="The cover of {{ proj.name }}">
        </a>
        <h2>{{ proj.name }}</h2>
        {{ proj.description }}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
<section>
  <h2>javascript demo</h2>
  <div class="flex-container">
    {% for proj in site.data.projects %}
      {% if proj.category == "javascript-demo" %}
      <div class="card">
        <a href="/assets/projects/{{ proj.category }}/{{ proj.link }}/dist/index.html" target="_blank">
          <img src="/assets/images/{{ proj.image }}" alt="The cover of {{ proj.name }}">
        </a>
        <h2>{{ proj.name }}</h2>
        {{ proj.description }}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
<section>
  <h2>angular demo</h2>
  <div class="flex-container">
    {% for proj in site.data.projects %}
      {% if proj.category == "angular-demo" %}
      <div class="card">
        <a href="{{ proj.link }}" target="_blank">
          <img src="/assets/images/{{ proj.image }}" alt="The cover of {{ proj.name }}">
        </a>
        <h2>{{ proj.name }}</h2>
        {{ proj.description }}
      </div>
      {% endif %}
    {% endfor %}
  </div>
</section>
