html {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'raleway', Arial, Helvetica, "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
  color: $font-color;
  pre, code {
    font-size: 16px;
    font-family: 'anonymous', monospace;
  }
  h1, h2, h3, h4, h5, h6, strong {
    color: $header-color;
  }
}

body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.title {
  font-size: 0.8rem;
  text-align: right;
}

.header, .main {
  box-sizing: border-box;
  padding: 1rem;
}

.header {
  background-color: $base-color;
  position: fixed;
  width: 300px;
  height: 100vh;
  overflow-y: auto;
}

.main {
  width: 100%;
  grid-column: 2 / 3;
}

.profile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  img {
    display: block;
    width: 100px;
    border-radius: 50%;
  }
  .description {
    text-align: center;
    h2 {
      margin-bottom: 0;
    }
    p {
      font-size: 0.8rem;
      margin: 0.5rem 0;
    }
  }
}

.nav {
  margin-top: 1.5rem;
  ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      width: 100px;
      position: relative;
      text-align: center;
      margin: 1rem 0;
      a {
        padding: 0.5rem 1rem;
        display: inline-block;
        text-decoration: none;
        color: $font-color;
        transition: color 300ms ease-out;
        &.current {
          color: $highlight-color;
        }
      }
      /* add hover animation for the links */
      &::before, &::after {
        content: "";
        width: 100%;
        height: 5px;
        display: block;
        background-color: $dark-blue;
        transition: transform 300ms ease-out;
      }
      &::before {
        transform: translateY(-10px) scaleY(0);

      }
      &::after {
        transform: translateY(10px) scaleY(0);
      }
      &:hover::before, &:hover::after {
        transform: translateY(0) scaleY(1);
      }
      &:hover {
        a {
          color: $dark-blue;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  body {
    display: flex;
    flex-flow: column nowrap;
  }
  .header {
    position: static;
    width: 100%;
    height: auto;
  }
  .profile {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .nav ul {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}
