/* define theme color */
$base-color: #d5ebdc;
$highlight-color: #FF1654;
$font-color: #0e1316;
$header-color: black;
$code-base-color: #F3FFBD;
$dark-blue: #247BA0;
$dark-green: #70C1B3;

html {
  font-size: 18px;
  font-family: Arial, Helvetica, "Hiragino Sans GB", "Microsoft YaHei","WenQuanYi Micro Hei", sans-serif;
  color: $font-color;
  h1, h2, h3, h4, h5, h6, strong {
    color: $header-color;
  }
}
