/* define theme color */
$base-color: #dbede1;
$highlight-color: #FF1654;
$font-color: #0e1316;
$header-color: black;
$code-base-color: #e8fe88;
$pre-base-color: #f5f7e9;
$dark-blue: #247BA0;
$dark-green: #70C1B3;
